body {
    background-image: url("../images/analog-art-camera-390089.jpg");
    background-position: center cover fixed;
    background-size: 100%;
}

.questions-container {
    background: rgba(red, green, blue, alpha);
    background-color: rgba(173 164 174);
    opacity: .9;
    width: 900px;
    height: 970px;
    border-radius: 25px;
    margin-left: 20%;
}

h1 {
    text-align: center;
    color: white;
}

p {
    color: #502B3A;
    font-size: 18px;
    font-weight: bold;
}

#question-1,
#question-2,
#question-3,
#question-4,
#question-5,
#question-6,
#question-7,
#question-8,
#question-9,
#question-10
 {
    color: black;
    text-align: center;
}

button {
    font-size: 20px;
    margin-left: 410px;
    margin-top: 10px;
    border-radius: 12px;
    background-color: white;
    color: #502B3A;
    border: 2px solid #502B3A;
}

.timer {
    text-align: center;
}